@font-face {
  font-family: 'wiwi';
  src: url('assets/wiwiVF.ttf') format("truetype-variations");
  font-weight: 1 999;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* Scrollbar */
::-webkit-scrollbar { /* width */
  width: 15px;
}
::-webkit-scrollbar-track { /* Track */
  background: transparent;
}
::-webkit-scrollbar-thumb { /* Handle */
  background: rgb(0,0,0,0.15);
  border-radius: 15px;
  background-clip: none;
  /* background-clip: padding-box; */
  border: 5px solid transparent;
}
::-webkit-scrollbar-thumb:active { /* Handle on hover */
  background: rgb(0,0,0,0.24);
  border-radius: 15px;
  background-clip: none;
  /* background-clip: padding-box; */
  border: 5px solid transparent;
}

iframe{
   position: absolute;
   left: 0;
   bottom: 0;
}

.btn {
  display: block;
  position: fixed;
  top: 15px;
  right: 98px;
  /* border: none;
  outline: none;
  padding: 0;
  background-color: transparent; */
}

.btn2 {
  display: block;
  position: fixed;
  top: 15px;
  right: 15px;
  /* border: none;
  outline: none;
  padding: 0;
  background-color: transparent; */
}

.btn3 {
  display: block;
  position: fixed;
  top: 15px;
  left: 15px;
  /* border: none;
  outline: none;
  padding: 0;
  background-color: transparent; */
}

canvas {
  display: block;
}

p {
  display: block;
  margin: auto;
  color : #000000;
  text-align: center;
  font-family: 'wiwi';
  font-weight: 0;
}


.input-div{
   vertical-align: middle;
}


.detail {
  margin-top: 5px;
  margin-left: 185px;
  margin-right: 185px;
  font-family: "HelveticaNeueLTStd-Roman", sans-serif;
  /* font-weight: 300;
  font-style: normal; */
  font-size: 2.5rem;
  text-align: center;
  line-height: 1.25;
  letter-spacing: 0.5px;
  /* color: #fafafa; */
}

.detail2 {
  font-family: arial, sans-serif;
  /* font-weight: 300;
  font-style: normal; */

  font-size: 5rem;
  text-align: center;
  line-height: 1.53;
  letter-spacing: 0.5px;
  /* color: #fafafa; */
}


textarea
{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    font: 300px "wiwi";
    font-variation-settings: 'wght' 200;
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  font-family: "HelveticaNeueLTStd-Roman", sans-serif;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 105%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}


@media print {
  .no-print
  {
    display: none !important;
  }
  /* Hide every other element */
  body * {
    visibility: hidden;
  }
  /* displaying print container elements */
  .print-container, .print-container * {
    visibility: visible;
  }
  @page {
    size: landscape;
    /* size: 297mm 210mm; /* landscape */ */
    /* you can also specify margins here: */
    top:0px;
    margin: 0mm;
    margin-left: 0mm;
    margin-right: 0mm;
    /* margin-left: 10mm;
    margin-right: 10mm;
    margin-bottom: 10mm;
    width:20%;
    height:20%; */
    }
  }




  @media only screen and (min-width:768px) {   /* For tablets: */
    /* #script-pc {
      display: block;
    }
    #script-mobile {
      display: none;
    }
    #btn-mobile {
      display: none;
    } */
  }

@media only screen and (max-width:767px) {   /* For tablets: */
  /* #script-pc {
    display: none;
  }
  #script-mobile {
    display: block;
  }
  #btn-pc {
    display: none;
  } */
  .detail {
    margin-left: 10px;
    text-align: left;
    font-size: 2rem;
  }
}
